<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href= "../static /style.css">
</head>
<body>
    <div id= "root"> </div>
    <script src= "index.jsx"></script>
    <nav> 
        <a href= "homepage.html"> Home </a>
        <a href= "Login.html"> Login </a>
        <a href= "Profile.html"> Profile</a>
        <a href= "Register.html"> Register </a>
    </nav>
    <h1> This is the homepage </h1>

    <a href= "Register.html">
        <button> Get Started </button>
    </a>

      <!-- Picture -->
      <div class ="flex">
          <div class= "item">
              <p> First image</p>
          </div>
          <div class = "item">
              <p> Second image</p>
          </div>
          <div class = "item">
              <p> Third image</p>
          </div>
      </div>


    <!--
        TESTIMONIALS
        
        Retrieve from firebase 
    
    -->


    <!-- Dropdown Footer-->
    <footer>
        <h1> TPM Industries.</h1>
    </footer>

</body>
</html>